In [33]:
#Import the required libraries 

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [34]:
train = pd.read_csv("train_aish.csv")

In [35]:
train.head()

   Survived  Sex  Age
0         0    0   22
1         1    1   38
2         1    1   26
3         1    1   35
4         0    0   35

In [36]:
test = pd.read_csv("test_aish.csv")

In [37]:
test.head()

   Survived  Sex   Age
0         0    0  34.5
1         0    1  47.0
2         1    0  62.0
3         0    0  27.0
4         1    1  22.0

In [38]:
X_train=train.drop('Survived', axis =1)
y_train= train['Survived']

In [39]:
#Import Logistic Regression Model from the library sklearn
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [40]:
#Fitting the training dataset to the model to reveal weights and biases 
#In this example Age and Gender are considered as input features that predict the output - 
#the output being if the person  survived or not
model.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [41]:
X_test=test.drop('Survived', axis =1)
y_test= test['Survived']

In [42]:
#Predicting the output based on the Logistic Regression 
#equation derived from the training dataset
y_predicted = model.predict(X_test)

In [43]:
#Computing the accuracy score , by comparing 
#Predicted Output and Actual output of the test dataset
import sklearn
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_predicted)

0.59999999999999998